@page "/logins"

@inherits ProtectedPage

@using API.Services;
@using Database.Models;
@using PasswordManager.Shared.Table

@inject ILogger<Index> Logger
@inject AuthStateContainer AuthStateContainer
@inject VaultLoginService VaultLoginService

@if (logins == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Header Text="Logins">
        <NavLink href="logins/create">
            <Button Text="New Login" />
        </NavLink>
    </Header>
    <div>
        <Table>
            <TableHead>
                <TableRow>
                    <TableHeader>Name</TableHeader>
                    <TableHeader>Description</TableHeader>
                    <TableHeader>URL</TableHeader>
                    <TableHeader>Email</TableHeader>
                    <TableHeader>Last Updated</TableHeader>
                </TableRow>
            </TableHead>
            <TableBody>
                @foreach (var login in logins)
                {
                    <NavLink href="@($"logins/edit/{login.Id}")" class="flex grow">
                        <TableRow Color="bg-white">
                            <TableCell RoundDirection="l">@login.Name</TableCell>
                            <TableCell>@login.Description</TableCell>
                            <TableCell>@login.URL</TableCell>
                            <TableCell>@login.Email</TableCell>
                            <TableCell RoundDirection="r">@login.UpdatedDate</TableCell>
                        </TableRow>
                    </NavLink>
                }
            </TableBody>
        </Table>
    </div>
}

@code {
    private IEnumerable<VaultLoginSummaryDto> logins;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        try
        {

            var dto = new GetUserLoginsDto()
            {
                UserId = AuthStateContainer.LoggedInUser.Id,
            };
            logins = VaultLoginService
                        .GetAll(dto)
                        .OrderByDescending(x => x.UpdatedDate);
        }
        catch (Exception e)
        {
            Logger.LogError($"Error getting user logins: {e.Message}");
        }
 }
}
